{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://core.ac.uk/api-v2"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "oacore"
        },
        "description": "<p style=\"text-align: justify;\">You can use the CORE API to access the \n    resources harvested and enriched by CORE. If you encounter any problems with the API, please <a href=\"/contact\">report them to us</a>.</p>\n\n<h2>Overview</h2>\n<p style=\"text-align: justify;\">The API is organised by resource type. The resources are <b>articles</b>, \n    <b>journals</b> and <b>repositories</b> and are represented using JSON data format. Furthermore, \n    each resource has a list of methods. The API also provides two global methods for accessing all resources at once.</p>\n\n<h2>Response format</h2>\n<p style=\"text-align: justify;\">Response for each query contains two fields: <b>status</b> and <b>data</b>.\n    In case of an error status, the data field is empty. The data field contains a single object\n    in case the request is for a specific identifier (e.g. CORE ID, CORE repository ID, etc.), or  \n    contains a list of objects, for example for search queries. In case of batch requests, the response\n    is an array of objects, each of which contains its own <b>status</b> and <b>data</b> fields.\n    For search queries the response contains an additional field <b>totalHits</b>, which is the \n    total number of items which match the search criteria.</p>\n\n<h2>Search query syntax</h2>\n\n<p style=\"text-align: justify\">Complex search queries can be used in all of the API search methods.\n    The query can be a simple string or it can be built using terms and operators described in Elasticsearch\n    <a href=\"http://www.elastic.co/guide/en/elasticsearch/reference/1.4/query-dsl-query-string-query.html#query-string-syntax\">documentation</a>.\n    The usable field names are <strong>title</strong>, <strong>description</strong>, <strong>fullText</strong>, \n    <strong>authors</strong>, <strong>publisher</strong>, <strong>repositories.id</strong>, <strong>repositories.name</strong>, \n    <strong>doi</strong>, <strong>oai</strong>, <strong>identifiers</strong> (which is a list of article identifiers including OAI, URL, etc.), <strong>language.name</strong> \n    and <strong>year</strong>. Some example queries:\n</p>\n\n<ul style=\"margin-left: 30px;\">\n    <li><p>title:psychology and language.name:English</p></li>\n    <li><p>repositories.id:86 AND year:2014</p></li>\n    <li><p>identifiers:\"oai:aura.abdn.ac.uk:2164/3837\" OR identifiers:\"oai:aura.abdn.ac.uk:2164/3843\"</p></li>\n    <li><p>doi:\"10.1186/1471-2458-6-309\"</p></li>\n</ul>\n\n<h3>Retrieving the latest Articles</h3>\n<p style=\"text-align: justify\">\n    You can retrieve the harvested items since specific dates using the following queries:\n</p>\n\n<ul style=\"margin-left: 30px;\">\n    <li><p>repositoryDocument.metadataUpdated:>2017-02-10</p></li>\n    <li><p>repositoryDocument.metadataUpdated:>2017-03-01 AND repositoryDocument.metadataUpdated:<2017-03-31</p></li>    \n</ul>\n\n<h2>Sort order</h2>\n\n<p style=\"text-align: justify;\">For search queries, the results are ordered by relevance score. For batch \n    requests, the results are retrieved in the order of the requests.</p>\n\n<h2>Parameters</h2>\n<p style=\"text-align: justify;\">The API methods allow different parameters to be passed. Additionally, there is an API key parameter which is common to all API methods. For all API methods \n    the API key can be provided either as a query parameter or in the request header. If the API key \n    is not provided, the API will return HTTP 401 error. You can register for an API key <a href=\"/services#api\">here</a>.</p>\n\n<h2>API methods</h2>",
        "title": "CORE API v2",
        "version": "2.0",
        "x-apisguru-categories": [
            "open_data"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_oacore_profile_image.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "swagger",
                "url": "http://core.ac.uk/api-v2/doc",
                "version": "1.2"
            }
        ],
        "x-preferred": true,
        "x-providerName": "core.ac.uk"
    },
    "security": [
        {
            "apiKey": []
        }
    ],
    "tags": [
        {
            "description": "Global operations",
            "name": "all"
        },
        {
            "description": "Operations for retrieving articles",
            "name": "articles"
        },
        {
            "description": "Operations for retrieving journals",
            "name": "journals"
        },
        {
            "description": "Operations for retrieving repositories",
            "name": "repositories"
        }
    ],
    "paths": {
        "/articles/dedup": {
            "get": {
                "description": "Method accepts values for several parameters and retrieves a JSON array of articles which have near duplicate content matching the input parameters' values. The response array contains ids of the near duplicate articles along with their relevance scores.",
                "operationId": "nearDuplicateArticles",
                "parameters": [
                    {
                        "description": "The DOI for which the duplicates will be identified",
                        "in": "query",
                        "name": "doi",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Title to match when looking for duplicate articles. Only useful when either value for @year or @description is supplied.",
                        "in": "query",
                        "name": "title",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Year the article was published. Only useful when value for @title is supplied. ",
                        "in": "query",
                        "name": "year",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Abstract for an article based on which its duplicates will be found. Only useful when value for @title is supplied.",
                        "in": "query",
                        "name": "description",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Full text for an article based on which its duplicates will be found.",
                        "in": "query",
                        "name": "fulltext",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Article identifier for which the duplicates will be identified. Only useful when either values for @doi or (@title and @year) or (@title and @abstract) or @fulltext are supplied.",
                        "in": "query",
                        "name": "identifier",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Limit the duplicates search to particular repository id. ",
                        "in": "query",
                        "name": "repositoryId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Insufficient/Unsuitable input parameters."
                    },
                    "401": {
                        "description": "Invalid or no API key provided"
                    },
                    "503": {
                        "description": "Could not run the deduplication service at this time; please try again later."
                    }
                },
                "summary": "Get all near duplicate articles",
                "tags": [
                    "articles"
                ]
            }
        },
        "/articles/get": {
            "post": {
                "description": "Method accepts a JSON array of CORE IDs and retrieves a list of articles. The response array is ordered based on the order of the IDs in the request array.",
                "operationId": "getArticleByCoreIdBatch",
                "parameters": [
                    {
                        "description": "Whether to retrieve the full article metadata or only the IDs. The default value is true",
                        "in": "query",
                        "name": "metadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "description": "Whether to retrieve fulltexts of the articles. The default value is false",
                        "in": "query",
                        "name": "fulltext",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve citations found in the articles. The default value is false",
                        "in": "query",
                        "name": "citations",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve lists of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
                        "in": "query",
                        "name": "similar",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve CORE IDs of different versions of the articles. The default value is false",
                        "in": "query",
                        "name": "duplicate",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve lists of URLs of the article fulltexts. The default value is false",
                        "in": "query",
                        "name": "urls",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Returns the records raw XML metadata from the original repository. The default value is false",
                        "in": "query",
                        "name": "faithfulMetadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "data": {
                                                "description": "The fetched article",
                                                "properties": {
                                                    "authors": {
                                                        "description": "List of article authors",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "citations": {
                                                        "description": "Citations found in the article",
                                                        "items": {
                                                            "properties": {
                                                                "authors": {
                                                                    "description": "Authors of the article",
                                                                    "type": "string"
                                                                },
                                                                "date": {
                                                                    "description": "Date the cited article was published",
                                                                    "type": "string"
                                                                },
                                                                "doi": {
                                                                    "description": "Digital Object Identifier",
                                                                    "type": "string"
                                                                },
                                                                "raw": {
                                                                    "description": "Citation as raw string",
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "description": "Title of the cited article",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "contributors": {
                                                        "description": "List of article contributors",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "datePublished": {
                                                        "description": "Date article published",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "The abstract",
                                                        "type": "string"
                                                    },
                                                    "doi": {
                                                        "description": "The DOI of the article",
                                                        "type": "string"
                                                    },
                                                    "downloadUrl": {
                                                        "description": "The download PDF URL which is displayed on our /display/[ArticleID] page",
                                                        "type": "string"
                                                    },
                                                    "fulltext": {
                                                        "description": "Article full text",
                                                        "type": "string"
                                                    },
                                                    "fulltextIdentifier": {
                                                        "description": "The URL to the fulltext",
                                                        "type": "string"
                                                    },
                                                    "fulltextUrls": {
                                                        "description": "URLs of the fulltext version of this article",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "id": {
                                                        "description": "Article ID",
                                                        "type": "integer"
                                                    },
                                                    "identifiers": {
                                                        "description": "List of document identifiers",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "journals": {
                                                        "description": "List of journals this article belongs to",
                                                        "items": {
                                                            "properties": {
                                                                "identifiers": {
                                                                    "description": "List of journal identifiers",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "title": {
                                                                    "description": "Title of the journal",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "language": {
                                                        "description": "Language of the article",
                                                        "properties": {
                                                            "code": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "oai": {
                                                        "description": "The OAI of the article",
                                                        "type": "string"
                                                    },
                                                    "publisher": {
                                                        "description": "Publisher of the article",
                                                        "type": "string"
                                                    },
                                                    "rawRecordXml": {
                                                        "description": "Raw XML metadata",
                                                        "properties": {
                                                            "datetime": {
                                                                "description": "Timestamp when CORE harvested the metadata",
                                                                "format": "date-format",
                                                                "type": "string"
                                                            },
                                                            "metadata": {
                                                                "description": "The raw XML metadata",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "relations": {
                                                        "description": "URLs of relating articles, etc.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "repositories": {
                                                        "description": "List of repositories this article belongs to",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "description": "CORE repository ID",
                                                                    "type": "integer"
                                                                },
                                                                "name": {
                                                                    "description": "Repository name",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "repositoryDocument": {
                                                        "description": "Information of CORE harvesting"
                                                    },
                                                    "similarities": {
                                                        "description": "Similar articles",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "description": "CORE ID of the similar article",
                                                                    "type": "integer"
                                                                },
                                                                "score": {
                                                                    "description": "Similarity score",
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "title": {
                                                                    "description": "Title of the similar article",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "score"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "subjects": {
                                                        "description": "Article subjects",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "title": {
                                                        "description": "Article title",
                                                        "type": "string"
                                                    },
                                                    "topics": {
                                                        "description": "Article topics",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "types": {
                                                        "description": "Types, e.g. conference paper, journal paper, etc.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "year": {
                                                        "description": "Year the article was published",
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "id"
                                                ],
                                                "type": "object"
                                            },
                                            "status": {
                                                "description": "Operation status",
                                                "enum": [
                                                    "OK",
                                                    "Not found",
                                                    "Too many queries",
                                                    "Missing parameter",
                                                    "Invalid parameter",
                                                    "Parameter out of bounds"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "data",
                                            "status"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or malformed JSON in request body"
                    },
                    "401": {
                        "description": "Invalid or no API key provided"
                    },
                    "403": {
                        "description": "Too many queries in request body"
                    },
                    "429": {
                        "description": "Too many requests in given amount of time"
                    }
                },
                "summary": "Batch operation for retrieving articles by CORE ID",
                "tags": [
                    "articles"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "type": "integer"
                                },
                                "type": "array"
                            }
                        }
                    },
                    "description": "JSON array with CORE IDs of articles that need to be fetched",
                    "required": true
                }
            }
        },
        "/articles/get/{coreId}": {
            "get": {
                "description": "Method will retrieve an article based on given CORE ID.",
                "operationId": "getArticleByCoreId",
                "parameters": [
                    {
                        "description": "CORE ID of the article that needs to be fetched.",
                        "in": "path",
                        "name": "coreId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Whether to retrieve the full article metadata or only the ID. The default value is true.",
                        "in": "query",
                        "name": "metadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "description": "Whether to retrieve full text of the article. The default value is false",
                        "in": "query",
                        "name": "fulltext",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve citations found in the article. The default value is false",
                        "in": "query",
                        "name": "citations",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
                        "in": "query",
                        "name": "similar",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false",
                        "in": "query",
                        "name": "duplicate",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false",
                        "in": "query",
                        "name": "urls",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Returns the records raw XML metadata from the original repository. The default value is false",
                        "in": "query",
                        "name": "faithfulMetadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "description": "The fetched article",
                                            "properties": {
                                                "authors": {
                                                    "description": "List of article authors",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "citations": {
                                                    "description": "Citations found in the article",
                                                    "items": {
                                                        "properties": {
                                                            "authors": {
                                                                "description": "Authors of the article",
                                                                "type": "string"
                                                            },
                                                            "date": {
                                                                "description": "Date the cited article was published",
                                                                "type": "string"
                                                            },
                                                            "doi": {
                                                                "description": "Digital Object Identifier",
                                                                "type": "string"
                                                            },
                                                            "raw": {
                                                                "description": "Citation as raw string",
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "description": "Title of the cited article",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "contributors": {
                                                    "description": "List of article contributors",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "datePublished": {
                                                    "description": "Date article published",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "The abstract",
                                                    "type": "string"
                                                },
                                                "doi": {
                                                    "description": "The DOI of the article",
                                                    "type": "string"
                                                },
                                                "downloadUrl": {
                                                    "description": "The download PDF URL which is displayed on our /display/[ArticleID] page",
                                                    "type": "string"
                                                },
                                                "fulltext": {
                                                    "description": "Article full text",
                                                    "type": "string"
                                                },
                                                "fulltextIdentifier": {
                                                    "description": "The URL to the fulltext",
                                                    "type": "string"
                                                },
                                                "fulltextUrls": {
                                                    "description": "URLs of the fulltext version of this article",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "description": "Article ID",
                                                    "type": "integer"
                                                },
                                                "identifiers": {
                                                    "description": "List of document identifiers",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "journals": {
                                                    "description": "List of journals this article belongs to",
                                                    "items": {
                                                        "properties": {
                                                            "identifiers": {
                                                                "description": "List of journal identifiers",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "title": {
                                                                "description": "Title of the journal",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "language": {
                                                    "description": "Language of the article",
                                                    "properties": {
                                                        "code": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "oai": {
                                                    "description": "The OAI of the article",
                                                    "type": "string"
                                                },
                                                "publisher": {
                                                    "description": "Publisher of the article",
                                                    "type": "string"
                                                },
                                                "rawRecordXml": {
                                                    "description": "Raw XML metadata",
                                                    "properties": {
                                                        "datetime": {
                                                            "description": "Timestamp when CORE harvested the metadata",
                                                            "format": "date-format",
                                                            "type": "string"
                                                        },
                                                        "metadata": {
                                                            "description": "The raw XML metadata",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "relations": {
                                                    "description": "URLs of relating articles, etc.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "repositories": {
                                                    "description": "List of repositories this article belongs to",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "CORE repository ID",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "Repository name",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "repositoryDocument": {
                                                    "description": "Information of CORE harvesting"
                                                },
                                                "similarities": {
                                                    "description": "Similar articles",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "CORE ID of the similar article",
                                                                "type": "integer"
                                                            },
                                                            "score": {
                                                                "description": "Similarity score",
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "title": {
                                                                "description": "Title of the similar article",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "score"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "subjects": {
                                                    "description": "Article subjects",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "title": {
                                                    "description": "Article title",
                                                    "type": "string"
                                                },
                                                "topics": {
                                                    "description": "Article topics",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "types": {
                                                    "description": "Types, e.g. conference paper, journal paper, etc.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "year": {
                                                    "description": "Year the article was published",
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "id"
                                            ],
                                            "type": "object"
                                        },
                                        "status": {
                                            "description": "Operation status",
                                            "enum": [
                                                "OK",
                                                "Not found",
                                                "Too many queries",
                                                "Missing parameter",
                                                "Invalid parameter",
                                                "Parameter out of bounds"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid identifier supplied"
                    },
                    "401": {
                        "description": "Invalid or no API key provided"
                    },
                    "429": {
                        "description": "Too many requests in given amount of time"
                    }
                },
                "summary": "Get article by CORE ID",
                "tags": [
                    "articles"
                ]
            }
        },
        "/articles/get/{coreId}/download/pdf": {
            "get": {
                "description": "Method will retrieve an article based on given CORE ID.",
                "operationId": "getArticlePdfByCoreId",
                "parameters": [
                    {
                        "description": "ID of article history that needs to be fetched",
                        "in": "path",
                        "name": "coreId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Invalid or no API key provided"
                    },
                    "404": {
                        "description": "No Article pdf found"
                    },
                    "429": {
                        "description": "Too many requests in given amount of time"
                    }
                },
                "summary": "Get fulltext PDF by CORE ID",
                "tags": [
                    "articles"
                ]
            }
        },
        "/articles/get/{coreId}/history": {
            "get": {
                "description": "Method accepts a single CORE ID and returns a list of all historical versions of the article, which are stored in CORE database. The results are ordered from the newest one to the oldest one.",
                "operationId": "getArticleHistoryByCoreId",
                "parameters": [
                    {
                        "description": "CORE ID of the article which history should be fetched",
                        "in": "path",
                        "name": "coreId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Which page of the history results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).",
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 1
                        }
                    },
                    {
                        "description": "The number of results to return per page. Can be any number between 10 and 100, default is 10.",
                        "in": "query",
                        "name": "pageSize",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 10,
                            "maximum": 100,
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "description": "List of article versions",
                                            "items": {
                                                "properties": {
                                                    "datetime": {
                                                        "description": "Timestamp when CORE harvested the metadata",
                                                        "format": "date-format",
                                                        "type": "string"
                                                    },
                                                    "metadata": {
                                                        "description": "The raw XML metadata",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "status": {
                                            "description": "Operation status",
                                            "enum": [
                                                "OK",
                                                "Not found",
                                                "Too many queries",
                                                "Missing parameter",
                                                "Invalid parameter",
                                                "Parameter out of bounds"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter invalid or out of bounds"
                    },
                    "401": {
                        "description": "Invalid or no API key provided"
                    },
                    "429": {
                        "description": "Too many requests in given amount of time"
                    }
                },
                "summary": "Get article history by CORE ID",
                "tags": [
                    "articles"
                ]
            }
        },
        "/articles/search": {
            "post": {
                "description": "Method accepts a JSON array of search queries and parameters. It then searches through all articles and returns a JSON array of search results for each of the queries. Method searches through all article fields (title, authors, subjects, identifiers, etc.).",
                "operationId": "searchArticlesBatch",
                "parameters": [
                    {
                        "description": "Whether to retrieve the full article metadata or only the ID. The default value is true.",
                        "in": "query",
                        "name": "metadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "description": "Whether to retrieve full text of the article. The default value is false",
                        "in": "query",
                        "name": "fulltext",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve citations found in the article. The default value is false",
                        "in": "query",
                        "name": "citations",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
                        "in": "query",
                        "name": "similar",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false",
                        "in": "query",
                        "name": "duplicate",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false",
                        "in": "query",
                        "name": "urls",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve the raw XML metadata of the article. The default value is false",
                        "in": "query",
                        "name": "faithfulMetadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "data": {
                                                "description": "Search results",
                                                "items": {
                                                    "properties": {
                                                        "authors": {
                                                            "description": "List of article authors",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "citations": {
                                                            "description": "Citations found in the article",
                                                            "items": {
                                                                "properties": {
                                                                    "authors": {
                                                                        "description": "Authors of the article",
                                                                        "type": "string"
                                                                    },
                                                                    "date": {
                                                                        "description": "Date the cited article was published",
                                                                        "type": "string"
                                                                    },
                                                                    "doi": {
                                                                        "description": "Digital Object Identifier",
                                                                        "type": "string"
                                                                    },
                                                                    "raw": {
                                                                        "description": "Citation as raw string",
                                                                        "type": "string"
                                                                    },
                                                                    "title": {
                                                                        "description": "Title of the cited article",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "contributors": {
                                                            "description": "List of article contributors",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "datePublished": {
                                                            "description": "Date article published",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "description": "The abstract",
                                                            "type": "string"
                                                        },
                                                        "doi": {
                                                            "description": "The DOI of the article",
                                                            "type": "string"
                                                        },
                                                        "downloadUrl": {
                                                            "description": "The download PDF URL which is displayed on our /display/[ArticleID] page",
                                                            "type": "string"
                                                        },
                                                        "fulltext": {
                                                            "description": "Article full text",
                                                            "type": "string"
                                                        },
                                                        "fulltextIdentifier": {
                                                            "description": "The URL to the fulltext",
                                                            "type": "string"
                                                        },
                                                        "fulltextUrls": {
                                                            "description": "URLs of the fulltext version of this article",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "id": {
                                                            "description": "Article ID",
                                                            "type": "integer"
                                                        },
                                                        "identifiers": {
                                                            "description": "List of document identifiers",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "journals": {
                                                            "description": "List of journals this article belongs to",
                                                            "items": {
                                                                "properties": {
                                                                    "identifiers": {
                                                                        "description": "List of journal identifiers",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "title": {
                                                                        "description": "Title of the journal",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "language": {
                                                            "description": "Language of the article",
                                                            "properties": {
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "oai": {
                                                            "description": "The OAI of the article",
                                                            "type": "string"
                                                        },
                                                        "publisher": {
                                                            "description": "Publisher of the article",
                                                            "type": "string"
                                                        },
                                                        "rawRecordXml": {
                                                            "description": "Raw XML metadata",
                                                            "properties": {
                                                                "datetime": {
                                                                    "description": "Timestamp when CORE harvested the metadata",
                                                                    "format": "date-format",
                                                                    "type": "string"
                                                                },
                                                                "metadata": {
                                                                    "description": "The raw XML metadata",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "relations": {
                                                            "description": "URLs of relating articles, etc.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "repositories": {
                                                            "description": "List of repositories this article belongs to",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "CORE repository ID",
                                                                        "type": "integer"
                                                                    },
                                                                    "name": {
                                                                        "description": "Repository name",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "repositoryDocument": {
                                                            "description": "Information of CORE harvesting"
                                                        },
                                                        "similarities": {
                                                            "description": "Similar articles",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "CORE ID of the similar article",
                                                                        "type": "integer"
                                                                    },
                                                                    "score": {
                                                                        "description": "Similarity score",
                                                                        "format": "double",
                                                                        "type": "number"
                                                                    },
                                                                    "title": {
                                                                        "description": "Title of the similar article",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "score"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "subjects": {
                                                            "description": "Article subjects",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "title": {
                                                            "description": "Article title",
                                                            "type": "string"
                                                        },
                                                        "topics": {
                                                            "description": "Article topics",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "types": {
                                                            "description": "Types, e.g. conference paper, journal paper, etc.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "year": {
                                                            "description": "Year the article was published",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "id"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "status": {
                                                "description": "Operation status",
                                                "enum": [
                                                    "OK",
                                                    "Not found",
                                                    "Too many queries",
                                                    "Missing parameter",
                                                    "Invalid parameter",
                                                    "Parameter out of bounds"
                                                ],
                                                "type": "string"
                                            },
                                            "totalHits": {
                                                "description": "Total number of articles matching the search criteria",
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "data",
                                            "status",
                                            "totalHits"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or malformed JSON in request body"
                    },
                    "401": {
                        "description": "Invalid or no API key provided"
                    },
                    "403": {
                        "description": "Too many queries in request body"
                    },
                    "429": {
                        "description": "Too many requests in given amount of time"
                    }
                },
                "summary": "Batch operation for search through articles",
                "tags": [
                    "articles"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "properties": {
                                        "page": {
                                            "default": 1,
                                            "description": "Which page of the search results should be retrieved. Can be any number from 1 to 100, default is 1 (first page)",
                                            "maximum": 100,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "pageSize": {
                                            "default": 10,
                                            "description": "The number of results to return per page. Can be any number from 10 to 100, default is 10",
                                            "maximum": 100,
                                            "minimum": 10,
                                            "type": "integer"
                                        },
                                        "query": {
                                            "description": "Search query",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "query"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        }
                    },
                    "description": "JSON array with search queries and parameters. One request can contain up to 100 queries",
                    "required": true
                }
            }
        },
        "/articles/search/{query}": {
            "get": {
                "description": "Searches through all articles and returns a JSON array with search results. Method searches through all article fields.",
                "operationId": "searchArticles",
                "parameters": [
                    {
                        "description": "The search query",
                        "in": "path",
                        "name": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).",
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 1
                        }
                    },
                    {
                        "description": "The number of results to return per page. Can be any number between 10 and 100, default is 10.",
                        "in": "query",
                        "name": "pageSize",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 10,
                            "maximum": 100,
                            "default": 10
                        }
                    },
                    {
                        "description": "Whether to retrieve the full article metadata or only the ID. The default value is true.",
                        "in": "query",
                        "name": "metadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "description": "Whether to retrieve full text of the article. The default value is false",
                        "in": "query",
                        "name": "fulltext",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve citations found in the article. The default value is false",
                        "in": "query",
                        "name": "citations",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time",
                        "in": "query",
                        "name": "similar",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false",
                        "in": "query",
                        "name": "duplicate",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false",
                        "in": "query",
                        "name": "urls",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Returns the records raw XML metadata from the original repository. The default value is false",
                        "in": "query",
                        "name": "faithfulMetadata",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "description": "Search results",
                                            "items": {
                                                "properties": {
                                                    "authors": {
                                                        "description": "List of article authors",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "citations": {
                                                        "description": "Citations found in the article",
                                                        "items": {
                                                            "properties": {
                                                                "authors": {
                                                                    "description": "Authors of the article",
                                                                    "type": "string"
                                                                },
                                                                "date": {
                                                                    "description": "Date the cited article was published",
                                                                    "type": "string"
                                                                },
                                                                "doi": {
                                                                    "description": "Digital Object Identifier",
                                                                    "type": "string"
                                                                },
                                                                "raw": {
                                                                    "description": "Citation as raw string",
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "description": "Title of the cited article",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "contributors": {
                                                        "description": "List of article contributors",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "datePublished": {
                                                        "description": "Date article published",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "The abstract",
                                                        "type": "string"
                                                    },
                                                    "doi": {
                                                        "description": "The DOI of the article",
                                                        "type": "string"
                                                    },
                                                    "downloadUrl": {
                                                        "description": "The download PDF URL which is displayed on our /display/[ArticleID] page",
                                                        "type": "string"
                                                    },
                                                    "fulltext": {
                                                        "description": "Article full text",
                                                        "type": "string"
                                                    },
                                                    "fulltextIdentifier": {
                                                        "description": "The URL to the fulltext",
                                                        "type": "string"
                                                    },
                                                    "fulltextUrls": {
[...]
